[submodule "src/github.com/timtadh/goiso"]
	path = src/github.com/timtadh/goiso
	url = git@github.com:timtadh/goiso
[submodule "src/github.com/timtadh/getopt"]
	path = src/github.com/timtadh/getopt
	url = git@github.com:timtadh/getopt
[submodule "src/github.com/timtadh/data-structures"]
	path = src/github.com/timtadh/data-structures
	url = git@github.com:timtadh/data-structures
[submodule "src/github.com/timtadh/fs2"]
	path = src/github.com/timtadh/fs2
	url = git@github.com:timtadh/fs2.git
[submodule "src/github.com/timtadh/matrix"]
	path = src/github.com/timtadh/matrix
	url = git@github.com:timtadh/go.matrix
[submodule "src/github.com/mattn/go-sqlite3"]
	path = src/github.com/mattn/go-sqlite3
	url = git@github.com:mattn/go-sqlite3.git
