[submodule "src/github.com/timtadh/goiso"]
	path = src/github.com/timtadh/goiso
	url = git@github.com:timtadh/goiso
[submodule "src/github.com/timtadh/getopt"]
	path = src/github.com/timtadh/getopt
	url = git@github.com:timtadh/getopt
[submodule "src/github.com/timtadh/data-structures"]
	path = src/github.com/timtadh/data-structures
	url = git@github.com:timtadh/data-structures
[submodule "src/github.com/timtadh/fs2"]
	path = src/github.com/timtadh/fs2
	url = git@github.com:timtadh/fs2.git
[submodule "src/github.com/timtadh/matrix"]
	path = src/github.com/timtadh/matrix
	url = git@github.com:timtadh/go.matrix
[submodule "src/github.com/mattn/go-sqlite3"]
	path = src/github.com/mattn/go-sqlite3
	url = git@github.com:mattn/go-sqlite3.git
[submodule "src/github.com/stretchr/testify"]
	path = src/github.com/stretchr/testify
	url = git@github.com:stretchr/testify.git
[submodule "src/github.com/davecgh/go-spew"]
	path = src/github.com/davecgh/go-spew
	url = git@github.com:davecgh/go-spew
[submodule "src/github.com/pmezard/go-difflib"]
	path = src/github.com/pmezard/go-difflib
	url = git@github.com:pmezard/go-difflib
[submodule "src/github.com/timtadh/lexmachine"]
	path = src/github.com/timtadh/lexmachine
	url = git@github.com:timtadh/lexmachine.git
[submodule "src/github.com/timtadh/dot"]
	path = src/github.com/timtadh/dot
	url = git@github.com:timtadh/dot.git
[submodule "src/github.com/timtadh/combos"]
	path = src/github.com/timtadh/combos
	url = git@github.com:timtadh/combos.git
